* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	background-color: beige;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.mechanical-watch {
	text-align: center;
	font-family: Arial, sans-serif;
	position: relative;
	width: 400px;
	height: 400px;
	background-image: url("image/oclok.jpg");
	background-size: cover;
	border: 12px solid brown;
	border-radius: 50%;
	margin: 20px auto;

	.second-hand {
		position: absolute;
		top: 1.5%;
		left: 50%;
		transform-origin: 50% 100%;
		width: 2px;
		height: 183px;
		background-color: white;
	}

	.minute-hand {
		position: absolute;
		top: 6%;
		left: 50%;
		transform-origin: 50% 100%;
		width: 4px;
		height: 167px;
		background-color: white;
	}

	.hour-hand {
		position: absolute;
		top: 12%;
		left: 50%;
		transform-origin: 50% 100%;
		width: 6px;
		height: 143px;
		background-color: white;
	}
}